        <div id="call-out">
            <h3>Contact for ANY HELP.</h3>
            <p>We love helping solve your technological challenges.<br>Quick email — Quick Help.</p>
            <a href="#name" id="link" class="hvr-forward">Fill out your contact information <span class="flaticon-right-arrow"></span></a>
        </div>
        <div id="cta-form">
            <div>
              <span class="blocking-span">
                <input type="text" name="name" id="name" class="inputText" required/>
                <span class="floating-label"><span class="flaticon-user-outline"></span> Full Name</span>
              </span>
            </div>
            <div>
              <span class='blocking-span'>
                <input type="email" name="email" class="inputText" required/>
                <span class="floating-label"><span class="flaticon-email"></span> E-mail</span>
              </span>
            </div>
            <div>
              <span class='blocking-span'>
                <input type="phone" name="phone" id="phone" class="inputText" required/>
                <span class="floating-label"><span class="flaticon-telephone"></span> Phone</span>
              </span>
            </div>
            <div id="textarea">
              <span class='blocking-span'>
                <textarea id="checking" class="inputText"></textarea>
                <span class="floating-label"><span class="flaticon-information-circular"></span> How can we help you?...</span>
              </span>
            </div>
            <button type="submit"> Let's Talk <span class="flaticon-arrows"></span></button>
        </div>