<header role="banner">
    <a class="blogname" href="{{site.baseurl}}/index.html">
      <img src="{{site.baseurl}}/_assets/genesys_impact_logo.png" class="logo">
      <img src="{{site.baseurl}}/_assets/genesys_impact_logo-inverted.png" class="affix-logo">
    </a>
      <nav>
        <ul>
          <li>
            <a class="phone" href="tel:2024505453">
              <span class="flaticon-telephone"></span> <tel>(202) 450-5453</tel>
            </a>
          </li>
          <li class="menu-item "><a href="{{site.baseurl}}/about.html">About</a></li>
          <li class="menu-item"><a href="#">Services <span class="flaticon-down"></span></a>
            <ul class="sub-menu">
            	<li class="menu-item"><a href="{{site.baseurl}}/it-infrastructure.html">IT Infrastructure</a></li>
            	<li class="menu-item"><a href="{{site.baseurl}}/security.html">Security</a></li>
            	<li class="menu-item"><a href="{{site.baseurl}}/software.html">Software</a></li>
            	<li class="menu-item"><a href="{{site.baseurl}}/internet-of-things.html">Internet of Things</a></li>
            	<li class="menu-item"><a href="{{site.baseurl}}/mobility.html">Mobility</a></li>
            </ul>
          </li>
          <li class="menu-item"><a href="{{site.baseurl}}/our-work.html">Our Work</a></li>
          <li class="menu-item"><a href="{{site.baseurl}}/blog.html">Blog</a></li>
          <li class="menu-item"><a href="{{site.baseurl}}/contact.html">Contact</a></li>
          <li id="search-li">
              <span class="flaticon-magnifier"></span>
            	<input type="search"></input>
          </li>
          <li id="mobile-menu">
            <button id="hamb">
              <div id="rect1" class="showRect"></div> 
              <div id="rect2" class="showRect"></div> 
              <div id="rect3" class="showRect"></div> 
            </button>
          </li>
        </ul>
      </nav>
  </header>
  <div id="slideDown" class="hidden">
    <ul id="top-menu">
      <li class="menu-item"><a class="hvr-underline-from-center" href="{{site.baseurl}}/about.html">About</a></li>
      <li class="menu-item"><a class="hvr-underline-from-center" href="{{site.baseurl}}/it-infrastructure.html">IT Infrastructure</a></li>
      <li class="menu-item"><a class="hvr-underline-from-center" href="{{site.baseurl}}/security.html">Security</a></li>
      <li class="menu-item"><a class="hvr-underline-from-center" href="{{site.baseurl}}/software.html">Software</a></li>
      <li class="menu-item"><a class="hvr-underline-from-center" href="{{site.baseurl}}/internet-of-things.html">Internet of Things</a></li>
      <li class="menu-item"><a class="hvr-underline-from-center" href="{{site.baseurl}}/mobility.html">Mobility</a></li>
      <li class="menu-item"><a class="hvr-underline-from-center" href="{{site.baseurl}}/our-work.html">Our Work</a></li>
      <li class="menu-item"><a class="hvr-underline-from-center" href="{{site.baseurl}}/blog.html">Blog</a></li>
      <li class="menu-item"><a class="hvr-underline-from-center" href="{{site.baseurl}}/contact.html">Contact</a></li>
    </ul>
  </div>