<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|IBM+Plex+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|IBM+Plex+Serif:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/hover-min.css" media="screen">
  <link rel="stylesheet" href="{{site.baseurl}}/css/flickity.min.css" media="screen">
  <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" media="screen">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript">
             var search = $('#search').typeahead({
                    prefetch: '/js/search.json'
                });
                search.on('typeahead:selected', function (evt, data) {
    window.location = data.url;
});
            </script>
</head>
<body class="{{page.layout}}">
{% include header.html %}
<div class="banner">
    <div class="callout">
				<h1>Building Today,<br>Relying Forever.</h1>
				<h2>Enhance your connection to the outside world with top quality IT infrastructure, software, and support.</h2>
		</div>
        <div class="banner-cta">
			<a href="tel:2024505453"><span class="flaticon-telephone"></span> 202-450-5453</a>
			<a href="{{site.baseurl}}/contact.html"><span class="flaticon-chat"></span> Request a Quote</a>
			<a href="{{site.baseurl}}/contact.html"><span class="flaticon-email"></span> Send Us An E-mail</a>
		</div>
		<video loop muted autoplay class="fullscreen-bg__video">
        <source src="{{site.baseurl}}/images/banner-home.mp4" type="video/mp4">
    </video>
</div>

<main id="content" class="clearfix" role="main">

    <div id="trust">
        <div class="flex-content">
            {% include /home/trust.html %}
        </div>
    </div>
    <div id="logos">
        <img src="{{site.baseurl}}/images/dun.png">
        <img src="{{site.baseurl}}/images/gs.png">
        <img src="{{site.baseurl}}/images/dcps.png">
        <img src="{{site.baseurl}}/images/dgs.png">
        <img src="{{site.baseurl}}/images/georgetown.png">
    </div>
    <div id="services">
        <div class="our-services">
            {% include /home/services.html %}
        </div>
    </div>
    <div id="cta">
       {% include cta.html %}
    </div>
    <div id="work">
        <div class="our-work">
            <h3>Our Work</h3>
            <p>We support facilities and campuses, both small and large, in the design, installation, configuration and maintenance of low voltage cabling and electronic security systems.</p>
            <a href="{{site.baseurl}}/our-work.html" class="hvr-forward">Check out our projects <span class="flaticon-right-arrow"></span></a>
        </div>
        <div class="work-img"></div>
    </div>
</main>
{{ content }}
{% include footer.html %}