<h3>Our Services</h3>
            <p>Our multidisciplinary background allows Genesys Impact to provide solutions to your complex technological challenges. Here’s how we can impact your business.</p>
            <h4>Explore Our Services</h4>
            <ul>
                <li>
                  <a href="{{site.baseurl}}/it-infrastructure.html">
                    <span class="hvr-forward"><span class="flaticon-arrows"></span> IT Infrastructure</span>
                  </a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/security.html">
                    <span class="hvr-forward"><span class="flaticon-arrows"></span> Security</span>
                  </a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/software.html">
                    <span class="hvr-forward"><span class="flaticon-arrows"></span> Software</span>
                  </a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/internet-of-things.html">
                    <span class="hvr-forward"><span class="flaticon-arrows"></span> Internet of Things</span>
                  </a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/mobility.html">
                    <span class="hvr-forward"><span class="flaticon-arrows"></span> Mobility</span>
                  </a>
                </li>
            </ul>
        </div>

<div class="main-gallery">
          <div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/security.html">
                      <img src="{{site.baseurl}}/_assets/rishabh-varshney-138805-unsplash.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/security.html">Access Control Systems</a></h4>
                <p>Combine access control with IP video surveillance and intrusion detection for a full-scale security solution to protect...</p>
                <a href="{{site.baseurl}}/security.html"" class="hvr-forward">Control access to your business <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/software.html">
                      <img src="{{site.baseurl}}/_assets/charles-deluvio-456501-unsplash.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/software.html">API and System Integration</a></h4>
                <p>With an Application Program Interface (API), data streams between systems and applications are consolidated, simplifying...</p>
                <a href="{{site.baseurl}}/software.html" class="hvr-forward">Stay competitive by embracing new software standards <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/it-infrastructure.html">
                      <img src="{{site.baseurl}}/_assets/business-businesswoman-contemporary-908282.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/internet-of-things.html">Asset Management</a></h4>
                <p>Our asset management options are cost-effective, high-tech, and will ensure your projects are organized and on track....</p>
                <a href="{{site.baseurl}}/internet-of-things.html" class="hvr-forward">Stay on top of your inventory and business plan <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/it-infrastructure.html">
                      <img src="{{site.baseurl}}/_assets/florian-pircher-72142-unsplash.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/it-infrastructure.html">Audio-Visual Systems</a></h4>
                <p>Genesys Impact specializes in the design and build of audio-visual systems for classrooms, conference and board rooms...</p>
                <a href="{{site.baseurl}}/it-infrastructure.html" class="hvr-forward">Enhance communications with your employees, partners and customers <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/software.html">
                      <img src="{{site.baseurl}}/_assets/blur-business-chart-159888.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/software.html">Big Data Analysis</a></h4>
                <p>Big Data can help you run your business in every aspect and provide you with the information to be successful — whether...</p>
                <a href="{{site.baseurl}}/software.html" class="hvr-forward">Obtain crucial information about worker productivity <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/software.html" | relative_url }}">
                      <img src="{{site.baseurl}}/_assets/apps-business-cellphone-892769.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/software.html">Cloud Applications</a></h4>
                <p>Join the ranks of the world’s most forward-thinking businesses by deploying cloud applications. Whether you’re looking...</p>
                <a href="{{site.baseurl}}/software.html" class="hvr-forward">Cut costs, increase efficiency, store data, and scale up <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/security.html">
                      <img src="{{site.baseurl}}/_assets/device-internet-pixels-60504.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/security.html">Cyber Security</a></h4>
                <p>We’ll work with you to ensure that your business is protected against all possible current and future threats....</p>
                <a href="{{site.baseurl}}/security.html" class="hvr-forward">Make your business secure and protect your assets <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/software.html">
                      <img src="{{site.baseurl}}/_assets/pankaj-patel-515219-unsplash.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/software.html">DevOps</a></h4>
                <p>Not only does DevOps reduce the time needed to address customer reviews, but DevOps also centralizes business processes...</p>
                <a href="{{site.baseurl}}/software.html" class="hvr-forward">Maximize Uptime &amp; Revenue <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/software.html">
                      <img src="{{site.baseurl}}/_assets/alone-analytics-big-data-884450.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/software.html">Enterprise Applications</a></h4>
                <p>Our applications provide you with this dexterity to maintain your competitive edge while remaining cost-effective...</p>
                <a href="{{site.baseurl}}/software.html" class="hvr-forward">Envision your with future growth <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/internet-of-things.html">
                      <img src="{{site.baseurl}}/_assets/abstract-art-blur-373543.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/internet-of-things.html">Facilities Management</a></h4>
                <p>Any ordinary office building can become a smart building when cloud applications are installed...</p>
                <a href="{{site.baseurl}}/internet-of-things.html" | relative_url }}" class="hvr-forward">Get more out of your workday at the office using the latest in technology <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/mobility.html">
                      <img src="{{site.baseurl}}/_assets/app-car-charging-33488.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/mobility.html">Fare Calculation</a></h4>
                <p>Genesys Impact Mobility partners with DC Department of For-Hire Vehicles (DFHV) approved Digital Taxicab Solution (DTS)...</p>
                <a href="{{site.baseurl}}/mobility.html" class="hvr-forward">Let Genesys transport you <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/it-infrastructure.html">
                      <img src="{{site.baseurl}}/_assets/cables-close-up-connection-159304.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/it-infrastructure.html">Fiber Systems</a></h4>
                <p>Are slow network speeds disrupting your business operations? Fiber optic cabling is a proven solution for reliable, high...</p>
                <a href="{{site.baseurl}}/it-infrastructure.html" class="hvr-forward">Keep your business moving forward <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/security.html">
                      <img src="{{site.baseurl}}/_assets/camera-equipment-pavement-430208.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/security.html">Intrusion Detection</a></h4>
                <p>Combine intrusion detection with IP video surveillance and access control systems for a full-scale security solution...</p>
                <a href="{{site.baseurl}}/security.html" class="hvr-forward">Quickly detect threats to your assets <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/it-infrastructure.html">
                      <img src="{{site.baseurl}}/_assets/black-and-white-board-boardroom-260689.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/it-infrastructure.html">IP Phone Systems</a></h4>
                <p>Let us help you turn your business’s telephone system into a resource for increased revenue and boosted productivity...</p>
                <a href="{{site.baseurl}}/it-infrastructure.html" class="hvr-forward">Get the phones, service, and support you need <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/security.html">
                      <img src="{{site.baseurl}}/_assets/rawpixel-com-597439-unsplash.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/security.html">IP Video Surveillance / CCTV</a></h4>
                <p>Our technology is also available on a mobile device using ICAM enabled technology, so you can watch security monitors...</p>
                <a href="{{site.baseurl}}/security.html" class="hvr-forward">Keep your business safe, secure, and seamless <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/mobility.html">
                      <img src="{{site.baseurl}}/_assets/artistic-asphalt-automobiles-799443.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/mobility.html">Mobility Platform</a></h4>
                <p>The Genesys Impact Mobility Platform supports transportation businesses with iOS and Android applications...</p>
                <a href="{{site.baseurl}}/mobility.html" class="hvr-forward">Modernize your business model <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/mobility.html">
                      <img src="{{site.baseurl}}/_assets/rawpixel-com-555905-unsplash.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/mobility.html">Payment Platform</a></h4>
                <p>The Genesys Impact Mobility platform features a robust driver payment platform that is built on top of Stripe...</p>
                <a href="{{site.baseurl}}/mobility.html" class="hvr-forward">Secure of your payment platform <span class="flaticon-right-arrow"></span></a>
              </div>
            </div>
            <div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/mobility.html">
                      <img src="{{site.baseurl}}/_assets/thomas-kvistholt-191153-unsplash.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/mobility.html">Secure and Scalable Technology</a></h4>
                <p>The Genesys Impact Mobility team has expertise in technologies that scale with your business...</p>
                <a href="{{site.baseurl}}/mobility.html" class="hvr-forward">Ensure the safety of your data <span class="flaticon-right-arrow"></span></a>
              </div>
            </div>
            <div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="">
                      <img src="{{site.baseurl}}/_assets/business-chairs-contemporary-416320.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/it-infrastructure.html">Telecom Rooms</a></h4>
                <p>Telecom room installations are key to your networks performance. For this reason, it’s crucial to have a proper...</p>
                <a href="" class="hvr-forward">Guaranteed success with industry-leading manufacturers <span class="flaticon-right-arrow"></span></a>
              </div>
            </div>
            <div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/internet-of-things.html">
                      <img src="{{site.baseurl}}/_assets/rawpixel-com-255077-unsplash.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/internet-of-things.html">Time Management</a></h4>
                <p>Genesys Impact has created our own Time Management tool, Crowdkeep, to provide you and your business with an all-in-one...</p>
                <a href="{{site.baseurl}}/internet-of-things.html" class="hvr-forward">Keep your property safe &amp; secure <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/it-infrastructure.html">
                      <img src="{{site.baseurl}}/_assets/blur-computer-connection-442150.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/it-infrastructure.html">Voice &amp; Data Cabling</a></h4>
                <p>We ensure that your forms of communication will always be functioning exceptionally by implementing our structured...</p>
                <a href="{{site.baseurl}}/it-infrastructure.html" class="hvr-forward">Grow with your company <span class="flaticon-right-arrow"></span></a>
              </div>
            </div><div class="gallery-cell">
                  <div class="gallery-inner">
                    <a href="{{site.baseurl}}/it-infrastructure.html">
                      <img src="{{site.baseurl}}/_assets/analogue-blur-business-159282.jpg">
                    </a>
                <h4><a href="{{site.baseurl}}/it-infrastructure.html">Wireless LAN</a></h4>
                <p>We’ll install a network that can bolster your cyber security, improve employee productivity, and serve as the backbone...</p>
                <a href="{{site.baseurl}}/it-infrastructure.html" class="hvr-forward">Make your wireless network work for you <span class="flaticon-right-arrow"></span></a>
              </div>
            </div>
    </div>